$flaticon_kemcode-font: "flaticon_kemcode";

@font-face {
    font-family: $flaticon_kemcode-font;
    src: url("./flaticon_kemcode.ttf?fa4025de742ce9393b0f8cb0582bfdf2") format("truetype"),
url("./flaticon_kemcode.woff?fa4025de742ce9393b0f8cb0582bfdf2") format("woff"),
url("./flaticon_kemcode.woff2?fa4025de742ce9393b0f8cb0582bfdf2") format("woff2"),
url("./flaticon_kemcode.eot?fa4025de742ce9393b0f8cb0582bfdf2#iefix") format("embedded-opentype"),
url("./flaticon_kemcode.svg?fa4025de742ce9393b0f8cb0582bfdf2#flaticon_kemcode") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_kemcode !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_kemcode-map: (
    "aeroplane-landing": "\f101",
    "hotel": "\f102",
    "custom": "\f103",
);

.flaticon-aeroplane-landing:before {
    content: map-get($flaticon_kemcode-map, "aeroplane-landing");
}
.flaticon-hotel:before {
    content: map-get($flaticon_kemcode-map, "hotel");
}
.flaticon-custom:before {
    content: map-get($flaticon_kemcode-map, "custom");
}
